[2017-09-14 22:13] drnikko opened #1 "Standardize field names"
With the goal of being able to share data across projects or data grabs, add field names to each question.

[2017-10-13 14:46] drnikko opened #2 "Include Canadian ethnicities and identities"
In every category, we need to pass through and make sure that this is inclusive of indigenous people in Canada.

[2017-10-13 16:51] brownsarahm opened #4 "List of countries for location question"
I don't know where such a list would be, but including an agreeable list or link to one here would be helpful. I've seen problems where the dropdown didn't include countries.

[2017-10-13 17:30] drnikko opened #5 "Review and verify age ranges"
Feedback wanted on
https://github.com/drnikki/open-demographics/blob/master/age.md

[2017-10-13 17:55] drnikko opened #7 "Dis/ability questions"
Would love additional feedback from people in the disability community to review the ways that we discuss disability in the questions and that we're including the right material and framing questions appropriately.

https://github.com/drnikki/open-demographics/blob/master/disability.md

[2017-10-13 18:51] drnikko opened #9 "Education about terms in questions."
This came up in #6 and I didn't want it to get lost.  From @emmairwin:

Side-question, one from the summit, was that maintainers (orgs etc) had little to no understanding of even what non-binary is.

How can we use this as a learning tool as well for orgs as they implement. I know that some institutions (thinking higher education in this one) are afraid of what they don't know, and so will shy awa

[2017-10-13 19:36] sagesharp opened #10 "Education should cover bootcamps"
Not everyone has a formal university education. Some people are self-taught. Some people may have attended developer boot camps. Boot camps have various lengths of time (anywhere from six weeks to 2-3 years). I'm not sure how to break up those schools. Maybe:

[ ] self-taught
[ ] bootcamp, 3 months or less
[ ] bootcamp, 6 months or less
[ ] bootcamp, 1 year or less
[ ] bootcamp, 2 years or less
[

[2017-10-13 19:45] gerbenjacobs commented on #5
I'd like to see smaller ranges in the early years. I have no extensive knowledge, but I feel such a distinction would be beneficial. I found this research for _pediatric age ranges_ with the accompanying definition by the NICHD.

Stage | Definitions (Release Date July 6, 2011)
-- | --
Preterm neonatal | The period at birth when a newborn is born before the full gestational period
Term neonatal | B

[2017-10-13 19:57] drnikko commented on #10
I'm on the fence about including Education at all, given it's relationships to class, privilege, etc etc, and I've heard folks advocate for and against.

With it included, definitely bootcamps and other forms of short-term technical training should be included.  A few thoughts:
-  I don't want to belittle those forms of education by calling them "non-degree" programs
-  I wonder about the value of

[2017-10-13 20:17] emceeaich commented on #9
Part of the issue here is that binary people aren't aware of being a presumed default, where trans and/or non-binary people have thought about it.

What if one assigned people to a 'gender undeclared' category at registration, don't make gender a required field, if that goes un-changed at some point later prompt them on it, in a manner that encourages reflection, and guides them into a open-ended

[2017-10-13 20:37] emmairwin commented on #10
Question is bootcamp a modern term?  I only ever took a one year programming diploma, which on reflection was pretty bootcamp-esque.  What do people come out of bootcamps with? A certificate?

[2017-10-13 21:34] hmitsch commented on #10
And another aspect: Looking at this from a German language&culture, the term _bootcamp_ does not make much sense to me. Might this be a very Northern American concept?

[2017-10-13 21:43] sagesharp commented on #10
@emmairwin I'm not sure what official paperwork people come out of the bootcamp with. I've heard about 1.5 year bootcamps like [Dev Bootcamp](https://devbootcamp.com/) and 2 year coding schools designed more like a traditional education like [Holberton School](https://www.holbertonschool.com/)

@hmitsch Perhaps the term "Coding school" is more widely used?

[2017-10-13 21:55] hmitsch commented on #10
Aaaah, I understand "Coding school" ... could be too narrow though, right?

[2017-10-15 18:29] 0xreid opened #11 "Change "other" options to "self identify" open-ended options"
It's really helpful to gives folks the option to self identify, rather than forcing people into the category of "other" when the other options don't fit. RobotHugs has a great comic that goes in-depth about this and why the option for self identification is important: http://www.robot-hugs.com/other-five/

I'd be happy to open a PR for this, if this makes sense for this project.

[2017-10-15 20:44] owenblacker commented on #7
My first 2 thoughts:

1. It might be useful to include a description or examples of each category, as I would expect people might struggle to determine which category/-ies their disability/-ies fit into — certainly it took me a bit of thinking to work mine out.
2. I would suggest adding some alternative links for other jurisdictions; here in the UK, it would be "the [Equality Act 2010 in Great Bri

[2017-10-16 04:51] drnikko commented on #11
@bronwynlewis yes, I'd love a PR (and don't forget to add yourself to the contributors file if you're comfortable doing so).  I do have concerns about how we can help others self-identify and also maintain data validity when there are many choices.

That concern is cart-before-the-horse a bit, however.  I'd like to start from a place of _inclusion_ and make decisions  based on the belief that we c

[2017-10-16 04:54] drnikko commented on #10
Also, keeping in mind that people who belong to an OSS community are contributors in many ways, we'd ideally have respondents who are writers, designers, UX folks, etc.  So I'd want to make sure we include bootcamp-style design or UX programs as well.  Thinking about people who do a short course at places like General Assembly.  Not a bootcamp, but not really self-taught either.

[2017-10-16 04:57] drnikko commented on #7
@owenblacker we absolutely have a US bias in the survey on most questions, including our source for categories in this question.  I _absolutely_ agree that we need to broaden this and I think disability questions would be a place we can do that fairly quickly.

If you feel comfortable doing so, can you open a PR that would include the alternative links and any additional categories that aren't cur

[2017-10-16 04:59] drnikko commented on #5
@gerbenjacobs thanks for sharing this.  I'm not sure at what age a person can become a contributor to an OSS project, but certainly don't want to exclude or render invisible younger contributors.

Would love to hear other thoughts on this, given that the idea is that individual contributors would be answering these questions.

[2017-10-16 05:02] drnikko commented on #4
@brownsarahm yes, agreed.

This "list of countries" is inherently political because countries are, in many cases, occupied or results of colonial occupation.  I'm not sure what a good "authority" on a list of countries would be, and how to include/acknowledge dependent states and disputed areas.    It would be great if someone could find a source on a good way to handle this that's inclusive and a

[2017-10-16 05:12] 0xreid commented on #11
Just opened a PR for this. And yes, totally agree on that approach. Thanks so much for working on this.

[2017-10-16 06:24] #11 closed, assigned to nobody

[2017-10-16 08:24] drnikko opened #13 "List of languages and proficiency levels"
We need to identify the list of languages (including indigenous languages) and proficiency levels.  See the current version here:
https://github.com/drnikki/open-demographics/blob/master/language.md

[2017-10-16 08:25] drnikko opened #14 "Race and Ethnicity"
(current version here: https://github.com/drnikki/open-demographics/blob/master/race.md)

This version was made with a very-strong US bias and, even with this US bias, I think it's still incomplete.  Would love a PR with an inclusive list or restructuring.

[2017-10-16 08:34] drnikko opened #15 "Socio-economic status"
current version: https://github.com/drnikki/open-demographics/blob/master/ses.md

This version was written with a few data outcomes in mind:
- can we identify trends in class mobility within a community?
- can we ask about current class without involving income?

We might want to answer other questions about class, and we might want to specify more information about what the concept of "class" mea

[2017-10-16 16:14] KaiBot3000 commented on #5
I have a few thoughts on ages:

- I agree than infants are unlikely to be open-source contributors
- It's nice to capture both "minors" and something close to "college age" (I recognize this is a little US-centered, in that that's a common way we break down ages)
- For writing about the information, it might be nice to have the breakdown close to decades: "80% of our contributors are in their 20's

[2017-10-16 16:19] KaiBot3000 commented on #10
How about breaking out `some college/technical training` into:

- [ ] some college
- [ ] technical course such as a coding school

The hard part here is I have both of the above. Assuming they're "select one", that makes it harder to choose.

And let's also include:
- [ ] self-taught

[2017-10-16 18:26] gerbenjacobs commented on #5
Ahh, I was under the impression this was going to be for generic communities as well as open source projects.

In that case such a detailed grouping is probably not needed.

[2017-10-16 18:34] brownsarahm commented on #4
I did a bit of looking around, maybe ISO_3166-1 is a decent starting point? It's based on UN info & includes entries for territories and at least many major disputed areas.

Also, there's this list of those countries with ISO codes available in many languages: https://github.com/umpirsky/country-list

[2017-10-16 18:46] drnikko commented on #4
Thanks, @brownsarahm!  ISO_3166-1 makes a lot of sense and I think using https://github.com/umpirsky/country-list/blob/master/data/en/country.txt as a starting point is as good and as "neutral" as we will get for now.

Do you feel comfortable adding a link to that (and your name to the contributors file if you would like) to the country question?

[2017-10-16 19:10] drnikko commented on #10
So, sounds like folks want to  convert radio buttons `()` in the doc to checkboxes `[]` in the doc, which I support.

We also need to really define what we're asking.  The original question:
[code]
..asks about "education level" which implies a more old-timey way of asking something like "where did you leave the traditional school system".  Is this a useful question on it's own?  Or are we looking

[2017-10-16 19:12] drnikko commented on #5
@KaiBot3000 thanks for this breakdown.  For the short question, I think it makes sense to have things break in the same way as in the long question so that it's easier to compare across ranges.  Would you mind opening a PR with that fix in place?

@gerbenjacobs other communities can _absolutely_ use this standard, but the idea is that people will be completing this survey on their own.

[2017-10-16 20:08] KaiBot3000 commented on #10
Ah, I didn't realize `()` was markdown for radio buttons. I'm 👍 on keeping them as radio buttons, if we're looking at it as `where did you leave the traditional school system`. If that's the case, the original range also looks good to me.

This gets at a meta-question that I've seen touched on in a few open issues: is the goal to make inclusive versions of common demographic questions, or to re-im

[2017-10-16 20:24] KaiBot3000 commented on #5
@drnikki you're absolutely right about having long and short questions match. I PR'd those notes in #17.

[2017-10-17 04:06] drnikko commented on #4
Thank you!! <3

[2017-10-17 04:06] #4 closed, assigned to nobody

[2017-10-17 14:53] emmairwin opened #18 "Caregiving"
In Mozilla's research we found this about parenthood/caregiving situations

1)  contribution is almost impossible if you also spoke English as a second language (had to spend more time translating than doing work)
2) women's participation sharply declined over time (tenure) and suspect parenthood may be related.
3) being a new mother, restricted contributors ability to attend events where no child

[2017-10-17 14:59] emmairwin opened #19 "Tenure"
The amount of time someone has been a part of a community.
This helps us with visualization of volunteer life cycles - when do we lose people, is that primarily women and so on.

[2017-10-17 15:01] emmairwin opened #20 "Primary skillset/function"
I'm not sure this belongs in demographics, but will put here for conversation anyway perhaps.
again thinking of our research around technical and non-technical(l10n, writing etc) contributors. Helpful to be able to get better at enabling success of diverse skillsets

[2017-10-17 19:03] drnikko commented on #19
I think this is so important, though it's not strictly a demographic question.

I wonder how people will decide how long they've been involved - is it date of first contribution? Age of account (in the Drupal community), first discovery?

If we can lower the cognitive load people would have answering by providing some guidelines, it would be a quick question to add.

[2017-10-18 17:56] drnikko commented on #20
I wonder if a different project / fork might include questions like:
- are you a technical or non-technical contributor
- how long have you been involved
- what barriers have you faced?
etc?

[2017-10-18 17:57] drnikko commented on #10
@KaiBot3000 I'd love to open a new issue for "what kinds of questions _should_ we be asking".  This first pass is inclusive versions of common questions, because those are the data points that people use in conversation about community membership.  If, as a terrible example, we all agreed that we _should_ be asking if a person is left-handed, and we added that.... I don't know that people in broad

[2017-10-19 00:16] drnikko opened #21 "Speculation: The future of inclusive questioning"
[Folks landing just on this issue - you can read the backstory [here](https://drnikki.github.io/open-demographics/) ]

@KaiBot3000 asked a great question in #10: "is the goal [of this project] to make inclusive versions of common demographic questions, or to re-imagine what kinds of questions we should be asking?"

The answer for now - inclusive versions of common demographic questions.

What I'd

[2017-10-19 05:22] wesruv commented on #21
On the inclusivity survey that I took a few years ago, that I think @drnikki pointed me at when I was at BAD Camp; it asked how I identified in certain areas, and if I felt comfortable discussing those identities at work.

I thought that's a very valuable data point from my experience.

I feel very comfortable talking about ethnic identity; which hasn't effected my professional career since I can

[2017-10-19 20:42] drnikko opened #22 "Data display (especially gender & sexual orientation)"
For each metric, especially sexual orientation and gender identity, we need to make recommendations for how to display the data.   The goal is to be inclusive in both the questioning and data display, so that people don't get consumed by "Other" every place gender/sexual orientation/other metric is discussed.

[2017-10-23 01:29] emmairwin commented on #19
YOu're right this isn't the right place.

[2017-10-23 01:29] #19 closed, assigned to nobody

[2017-10-23 02:04] drnikko commented on #19
haha that was fast. :)  I don't want it to get lost though... should we start a companion "volunteer data" project in osdiversity?

[2017-10-26 17:29] drnikko opened #25 "Technical/Implementation Recommendations"
As a resource for communities who want to use this, we should offer technical recommendations for fields that can be a technical challenge (like any place that a user is able to enter free-text).

[2017-10-26 17:41] sparklingrobots opened #26 "Backward compatibility of data over time"
How do we deal with the data this project collects over time?

I’ve worked with orgs that tracked these questions over like a 40 year period and the kinds of answers they were getting (or offering as options) in the 70s were very different from now, but they needed to compare the answers from the 70s to the answers now.  How can we support backward compatibility as our understandings and best prac

[2017-10-26 17:56] zenlan opened #27 "Identifying self-assigned terms"
If someone were to come across a database some time in the future and wanted to analyse the, e.g. gender, demographics, how would they differentiate between values that were input by the subject and those input by a third party, i.e. a self-assigned value and a value assigned by another person or a machine.

[2017-10-26 18:17] sparklingrobots commented on #27
This is also related at least somewhat to what I mention here: https://github.com/drnikki/open-demographics/issues/26 in that there is value in knowing how someone self-identified rather than only knowing the way that term or terms later got merged with new or different identities.

[2017-10-26 18:24] drnikko opened #28 "Place names throughout time/transition/colonization"
In conversation with Zenlan in the Drupal Diversity & Inclusion channel, they shared this link with the comment: "I threw up this little demo on the back of a talk by GDS about government registers, how to get the correct country name given someone's date of birth... http://zenlan.com/registers/"

We don't currently ask an individual's country of birth, but it's worth noting (and perhaps calling o

[2017-12-01 04:34] drnikko opened #29 "Additional list of California gender identities"
(from a contributor)
Consider adding:
· Two Spirit
· Bigender
· Gender nonconforming
· Gender variant
(These are included as possibilities in California)

[2017-12-30 21:54] alimac commented on #15
^^ Link has changed: https://github.com/drnikki/open-demographics/blob/master/docs/_sources/questions/ses.rst.txt

I found this list - I think the examples are helpful in situating each level.

Source: https://www.washingtontimes.com/news/2014/dec/31/can-you-name-us-socio-economic-levels/

[2018-01-10 10:47] npch opened #30 "License for materials?"
Would it be useful to clarify the licensing for these materials e.g. are they CC-BY / CC-BY-SA / CC0?

It looks like a really interesting project and we'd be interested in contributing UK perspective on the questions.

[2018-01-24 16:14] hestenet commented on #2
I would like to +1 this issue, and suggest that related issues be filed for other global indigenous cultures (for example Hijra of India). Or perhaps this issue be expanded in scope?

Not sure how you want to manage those from a project management point of view.

[2018-01-25 02:57] drnikko commented on #2
@hestenet thank you for commenting.  Yes - I'd love to see one issue per global indigenous culture.  That way, we can vet and include them as we're able and not have to get everything perfect.

[2018-01-25 02:58] drnikko commented on #30
@npch I'd love to have your contributions.   Please feel free to open other issues or PRs as you can.

[2018-01-25 20:49] hestenet commented on #2
That makes sense - thanks.

[2018-02-02 18:21] emmairwin commented on #30
I think @npch means: https://creativecommons.org/licenses/

[2018-02-06 12:39] npch commented on #30
@emmairwin is correct I meaning the most open creative commons licenses..

I'm looking for clarification on how the open demographics materials are licensed for people to use, so that I have an understanding also of how contributions I might make would be available for others.

[2018-03-02 19:03] musingvirtual commented on #7
Hi! I'm happy to contribute to this. I've been a disability activist for 12 years now and have had a disability from birth. I'd like to know where you got the original six categories from and what the rationale was for choosing them - that would help me understand what you're working with and why.

I see a few concerns with how you've set these up:

1) In the US, Emotional Disability is a big catc

[2018-03-06 22:29] emmairwin commented on #7
I've created this as an outreachy task for Mozilla.

[2018-03-07 10:22] guptatrisha97 commented on #14
Hi! I want to contribute to Outreachy through this project as I am very passionate about the topic. The link gives 404 error, can you give me the correct link, please?

[2018-03-07 10:48] guptatrisha97 commented on #7
I would like to work on this for the outreachy task for Mozilla. Please let me know what you feel about this so that I can further create a PR:

I have volunteered in a school for disable children before, and from what I learnt, I feel that disability can also affect your mental wellbeing because of the perennial pity and "different" treatment you are exposed to in the society.

I feel the questio

[2018-03-07 23:50] jywarren commented on #14
This is complicated!

In [our recent survey at Public Lab](https://publiclab.org/questions/warren/10-25-2017/help-with-a-standard-mini-evaluation-for-assessing-software-outreach-efforts), we went with this, but are dissatisfied:

[code]

We also used checkboxes, and we added (vs. our prior surveys) `African` as we have a number contributors from Africa who didn't find a place in the original US-ce

[2018-03-10 21:33] musingvirtual commented on #7
Hi @guptatrisha97 @drnikki -

Trisha, thanks for your contributions! I appreciate that you've brought your experience to bear here. I do have a couple of revisions I'd like to suggest you consider.

I feel that the "outlook on life" question should be asked of all people or not asked at all. Temporarily able-bodied people are only being required in our survey to describe external factors such as t

[2018-03-11 22:10] brihijoshi commented on #7
Hi @musingvirtual and @drnikki!
I would like to work on this issue for the Outreachy Task. Kindly let me know your opinions and views.

After going through the discussion already done here, I searched for laws and acts in India, my country, pertaining to disability identification.
Since there is a criterion of Reservation for the Disabled in all major Government conducted exams in our country (inc

[2018-03-12 06:01] brihijoshi commented on #14
Hey @drnikki,

I was looking into the various factors of social stratifications like Ethnicity or Race.
I wanted to know why we are not considering 'tribes' as a factor/option in our question. There are several cases in India (I can tell you from a local perspective here), where people identifying themselves with their tribe do not like to associate with a particular race or an ethnicity, hence th

[2018-03-12 12:34] drnikko commented on #14
@brihijoshi How would you feel about opening a pull request to add additional questions to race/ethnicity asking if people identify as indigenous or native (which is a north american term) and also asking if people identify as minorities in the area where they live?

[2018-03-12 14:49] brihijoshi commented on #14
Hi @drnikki, I will just word it appropriately and send a pull request. Thank you! :D

[2018-03-12 15:16] brihijoshi commented on #14
Hey @drnikki, I have sent a pull request #34 for the question on minorities. I couldn't quite understand the indigenous/native terminology. I will research about it and add it in a separate pull request.

[2018-03-14 12:32] kamba16 commented on #7
Hi @musingvirtual, I have some suggestions related to chronic illnesses. In the pediatric community children with chronic illnesses and disabilities are sometimes brought together under the term "children with special health care needs" (CSHCN), which I like because it collapses the strict separation between "disability" and "illness" by focusing on overall health and the particular challenges tha

[2018-03-14 14:04] BANSAL-PALLAVI commented on #7
Hi @musingvirtual
I am willing to contribute here. Please let me know your suggestions.
I read your views and I would like to add the following:

1. How would you categorize your disability?
-> Physical Disability
-> Intellectual Disability
-> Cognitive Disability
-> Psychiatric Disability

We often learn a lot from our friends and peers. Disable children often report that they were socially segre

[2018-03-14 17:57] BANSAL-PALLAVI commented on #7
Hi @emmairwin I have created two pull request for the open demographics as well as tell an open data story(one each).

[2018-03-14 19:12] emmairwin commented on #7
Hi please add a comment like this in the Mozilla task, with a link to your
PR <https://github.com/mozilla/diversity/issues/84>
Once that is added, you can link to that for your contribution proof for
outreachy. thanks.

On Wed, Mar 14, 2018 at 10:57 AM, Pallavi Bansal <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-03-27 22:37] patcon opened #35 "Add website url to repo description"
Hiya! Just heard about this project from Public Lab's talk a LibrePlanet, and I love it!

Took me awhile to find the website itself, so I wanted to suggest:
- [x] adding it beside the GitHub repo description
- [ ] linking it prominently in the README: https://github.com/drnikki/open-demographics/pull/36

https://drnikki.github.io/open-demographics/

Thanks so much for your consideration!

[2018-03-27 22:54] patcon commented on #15
This is great!

Would it fit in this conversation to discuss questions that attempt to grapple with debt load and anxieties around money? There is a lot to be said these days about people having higher income than people in earlier generations, but with a much higher debt-load, and so classic class questions might mask some financial anxieties (and potential solidarities) within a group. Plus, ask

[2018-04-09 01:09] Be-ing commented on #35
Thanks! I had a hard time finding this from a web search and looking at this GitHub repository.

[2018-04-09 02:41] patcon commented on #35
No problemo!

bump @drnikki  :)

[2018-04-13 06:36] drnikko commented on #35
Oh my gosh, thanks for making this ticket - I didn't know other folks were even talking about it.

I'll get that done right now!

[2018-04-13 17:13] rwohleb opened #37 "Machine readable format"
In addition to standardized field names ( #1 ), it would be great if all of the questions/answers were in an easily parsable format. I have some ideas for gathering demographics in a secure way, and would much prefer to be able to just slurp up everything already defined here, rather than having to manage that myself.

[2018-04-13 17:28] rwohleb commented on #37
Since everything else is JSON these days, maybe it could be in a form such as:

age.json
`
{
  "id": "age",
  "title": "Age",
  "description": "The age of the person",
  "options": [
    {"id": "0to14", "title": "0 to 14"},
    {"id": "15to19", "title": "15 to 19"},
    {
      "id": "20to60",
      "title": "20 to 60",
      "options": [
        {"id": "20to39", "title": "20 to 39"},
        {"id

[2018-04-13 17:32] rwohleb commented on #1
Not sure if it makes sense to pile it onto this issue or not, but it would be beneficial to have all responses have a unique ID (or at least a suggested one). This brings up questions about versioning, so it's a whole can of worms.

[2018-04-13 17:46] drnikko commented on #37
Hi @rwohleb yes, this is great, thank you!!  There have been some discussions of this offline - how can we enable form authors (who are also programmers) to just consume a json feed of the questions and then, theoretically, also stay up to date as questions evolve.

JSON is definitely what we'll end up using.  As a first pass, can you suggest a way to structure this initiative in the issue queue?

[2018-04-13 17:48] drnikko commented on #30
I'm thinking that `Attribution-ShareAlike CC BY-SA` makes the most sense, but open to discussion.

[2018-04-13 17:52] drnikko commented on #27
This is a great issue - reading this (after a bit of a hiatus) makes me feel like having a development/engineering plan for this project in addition to a data/question plan would be a good idea.

[2018-04-13 18:18] drnikko commented on #29
I think these are all covered by the current state of the gender question so closing.

https://github.com/drnikki/open-demographics/blob/master/doc-source/questions/gender.rst

[2018-04-13 18:18] #29 closed, assigned to nobody

[2018-04-13 19:25] rwohleb commented on #37
I've started looking at what it would take to setup a PR for demonstration purposes. I'm currently trying to figure out how you are handling things between docs, doc-source, and gh-pages. Is there a README that I just happened to miss?

[2018-04-13 20:34] drnikko commented on #37
@rwohleb nope - you caught me not documenting. :)

[code]
it's `sphinx-build` that generates `docs` from `doc-source`

[2018-04-13 20:35] drnikko commented on #37
I can add this to a readme if you can confirm that those steps work. :)  that's all of the instances of `sphinx` that I could find in my bash history.

[2018-05-08 15:31] hestenet commented on #37
Just wanted to chime in with a +1 for this issue. At DrupalCon Nashville I discussed this same idea briefly in the hallway with @drnikki  and @sparklingrobots. Providing the questions and answers in JSON format would be incredibly helpful, and then my team over at Drupal.org can work on building a module to consume that for Drupal sites (and I can totally imagine other open source projects wanting

[2018-05-09 00:39] sparklingrobots commented on #37
Just a note to say that the DDI Contrib Team has been working on getting <a href="https://www.drupal.org/project/gender">Gender Field module</a> up for D8, which we are tying to OpenDemographics. Right now the module has a manually created version of the OpenDemographics data, but our goal is to build the module to consume this data.

We're quite close to getting this module out into beta and I th

[2018-05-09 15:23] hestenet commented on #37
Thanks for the update @sparklingrobots! I'll get caught up on the Gender Field module work and start following the OpenDemographics project queue on D.O.

[2018-05-15 22:10] ivanstegic commented on #37
I love the idea of there being a machine readable format.

I wonder if the full JSON response couldn't just be an endpoint of an HTTP request that is the latest released version on a static github pages URL, perhaps with a custom domain? That way, it would be easy to make that list available to anything that speaks HTTP (including mobile phone apps) while including versioning as well. Might be a g

[2018-05-17 19:39] drnikko opened #38 "JSON standard for formatting questions"
in #37, @rwholeb [proposed](https://github.com/drnikki/open-demographics/issues/37#issuecomment-381206329) a format for recording the question in JSON.   As a precursor to that, can we identify the data points we'll need to store about a question first?

A starting list:
- id
- question prompt
- description
- format (radio buttons, check boxes)
- options
 -- user-facing text
 -- option id
 -- othe

[2018-05-17 19:40] drnikko commented on #37
Hi all,

First, as always, thank you for participating in this! I think what makes the most sense as a next step is to agree on a data structure that would account for all questions and be extensible for the future.  I've started a ticket for that here: https://github.com/drnikki/open-demographics/issues/38

[2018-05-20 22:02] CoralineAda opened #39 "Code of conduct update"
It's best for the code of conduct to exist as a standalone document, and it's very important that the document include contact information for reporting a violation as well as the process that the admins will follow to enforce the code. Thanks, and let me know if I can help!

[2018-05-22 21:17] ebarry commented on #30
I heartily agree that `Attribution-ShareAlike CC BY-SA` makes the most sense. :)
Would be open to hearing motions for CC0 though.

[2018-05-31 15:56] drnikko commented on #39
Hi @CoralineAda thank you so much for opening this issue!  I made a pull request here: https://github.com/drnikki/open-demographics/pull/40 that I'd love your review on.

Right now (and for the near-term future), I'm the only admin and will happily block racists, homophobes, bigots and others as I see fit.  I'm not sure if there's a set example for this kind of reporting structure, but happy to re

[2018-06-01 19:14] hestenet commented on #38
InputEx seems like a promising example to work from. http://clicrdv.github.io/inputex/docs/inputex-jsonschema/jsonschema-1.html is a good example schema in particular.

[2018-06-01 21:28] drnikko commented on #39
I merged #40.

[2018-06-01 21:28] #39 closed, assigned to nobody

[2018-06-01 21:32] drnikko commented on #38
@hestenet Yes, it's a good schema, but the questions are less complex than ours, it seems like - this is designed to push an entire form rather than one question or question set.

I noticed that the choices doesn't specify a UI element type.

`"gender" : { "type":"string", "choices": [ {"value":"male","label":"Guy"}, {"value":"female","label":"Girl"} ]},`

[2018-06-02 18:46] drnikko commented on #38
I need a review/JSON thoughts on https://github.com/drnikki/open-demographics/blob/json-standard/doc-source/references/example.json  This is an abbreviated (in terms of choices listed) representation of the age, religion and disability questions which I think contain all of the permutations of question UI formats we have identified.

[2018-06-02 18:49] drnikko commented on #37
@rwohleb (can't tag you in #38 for some reason), but I did a pass on this and would love your feedback since you kicked it off (others too - @ivanstegic, @sparklingrobots <3 )  Thanks, all, for your continued help with this.

[2018-06-02 18:56] drnikko commented on #30
Hi, all - just added #41 - a cc-by-sa license.  Would someone give it a +1 and I'll merge?

Thanks for all of your input!

[2018-06-02 18:56] #35 closed, assigned to nobody

[2018-06-02 19:09] #5 closed, assigned to nobody

[2018-06-02 19:15] mradcliffe commented on #38
@drnikki, do you think that the _inputex property would allow to override the UI element type? I am not familiar with inputEx enough, but this example seems promising:

`"born" : { "type":"string", "format":"date", "optional":true, "_inputex": {"_type": "datepicker", valueFormat: 'Y-m-d', value: '2009-01-01', label: 'Birthdate'} },`<sup>1</sup>.

I do not know if using this property is appropriate

[2018-06-02 19:18] drnikko commented on #1
@rwohleb I've added this explicitly into the speculative JSON schema so that it doesn't get lost.  I don't want to dictate to folks how their data storage should work, but I also like having Ids on things.

[2018-06-02 19:28] drnikko commented on #38
@mradcliffe thanks for looking! that's a great question - I certainly don't know if folks consuming the API would be using inputex, but I think the idea of suggesting a date or default value is on point.

[2018-06-02 19:30] drnikko commented on #20
In light of the tightened focus on demographics (as tough and socially-constructed as they are) and the near-term consumption by Drupal.org, I'm closing this issue.

[2018-06-02 19:31] #20 closed, assigned to nobody

[2018-06-02 19:32] drnikko commented on #10
To make this easier for new folks to get caught up, this is our existing education question:

https://github.com/drnikki/open-demographics/blob/master/doc-source/questions/education.rst

[2018-06-02 19:39] drnikko commented on #30
Thanks to @mradcliffe for the review!

[2018-06-02 19:39] #30 closed, assigned to drnikko

[2018-06-02 19:53] drnikko opened #42 "Project documentation"
The docs are currently written and managed in Sphinx.  The docs include the questions themselves (since they are just text) along with a lot of other text.  As we move the questions to primary storage within JSON, we'll need a documentation system that enables people to look at the questions without having to be able to read JSON.

**Required features:**
- It's important that we have human-readabl

[2018-06-02 20:04] drnikko opened #43 "Long versus Short version of question options"
**Problem**:
Some questions like [age](https://github.com/drnikki/open-demographics/blob/json-standard/doc-source/questions/age.rst) have a long and short version of their options.

_Note: there's a lot of work to do on this, and the scope of this issue is only how to distinguish between the long and short set.  Other parts of the schema are reviewed in other issues._

**Proposed solution**:

[cod

[2018-06-02 20:10] drnikko opened #44 "Indicating that questions should allow a self-identify box"
**Problem**:
Some questions like [sexual orientation](https://github.com/drnikki/open-demographics/blob/json-standard/doc-source/questions/sexualorientation.rst) include a "Self Identify" option as one of their choices.

It makes sense to me to include this as a property of the question object, like the prompt, rather than explicitly as the text of a choice.   I'm wondering if  ` "self-identify":

[2018-06-02 20:16] drnikko opened #45 "Indicating that questions should allow a "Prefer not to answer" choice"
**Problem**:
Some questions like [disability](https://github.com/drnikki/open-demographics/blob/json-standard/doc-source/questions/disability.rst) include a "Prefer not to answer" option as one of their choices.     Including "prefer not to answer" can be statistically important - it signals that the user has seen this question and actively opted to not answer it, as opposed to possibly missing it

[2018-06-02 20:18] drnikko commented on #38
Please see #43 , #44 , #45 (and the rest of the stuff in the JSON Endpoint milestone) for specific aspects of the JSON schema.

[2018-06-21 20:04] hestenet opened #46 "Questions with multi-part answers (e.g: language and fluency)"
The suggested question structure for Languages suggests that the respondent be able to pick an arbitrary language, and then select a fluency level for that language.

It's a bit tricky to figure out how to implement this in a machine readable format like a JSON file, but here is my suggestion - two sets of choices, one a free entry field, or perhaps populated from a standardized list of languages

[2018-06-21 20:07] hestenet opened #47 "Populating response values from other sources when consuming the machine readable version"
As I went through an exercise of converting questions to JSON, I discovered there are some questions where the person implementing the questionnaire may want to populate the responses with a different source of answers. For example, when presenting a list of countries for the location question, the developer implementing the questionnaire may want to use a standardized list of countries from their

[2018-06-27 15:49] hmitsch opened #49 "Location: Can choose not to disclose"
Hi all,

we had a question about the `Dropdown of Countries` described in https://github.com/drnikki/open-demographics/blob/master/doc-source/questions/location.rst .

In a scenario where you want to make the "Location question" mandatory, have you ever discussed how to allow people not to disclose their location in the Country Dropdown? Is it advisable to add a `choose not to state` option?

Best

[2018-08-09 14:37] GeorgLink opened #50 "Logo for Open Demographics project, for including it on the opensourcediversitoy.org page"
Hi everyone,

I propose to list the Open Demographics project on the http://opensourcediversity.org page opensourcediversity/opensourcediversity.org#32

Your entry would look better if there was a Logo. Do you have one?

PS (off topic): I also propose to list Open Demographics on the CHAOSS D&I Workgroup repository, but I don't need an image for this. chaoss/wg-diversity-inclusion#62

[2018-08-23 19:04] emmairwin commented on #14
@brihijoshi This question could be determined as being a minority in any way , in the area you live.  Can it be rephrased to:

Do you identify yourself as a member of a minority racial, ethnicity or tribal group in the area you live?

[2018-09-04 20:32] emmairwin commented on #14
This is a good resource, on this question and census - and gets to the heart of issues with international standards, as well as overlap of race/ethnicity

https://link.springer.com/content/pdf/10.1007%2F978-3-319-20095-8_2.pdf

[2018-09-04 21:03] jywarren commented on #14
Ooh awesome, thank you! @ebarry take a look!

[2018-09-21 18:36] NickDickinsonWilde opened #51 "Genderless option appears to be sort of duplicated in gender questions"
In /doc-source/questions/gender.rst there is both:
* Agender/genderless
and
* Genderless
options. It seems to me that those should either be 1 entry or the first entry should be *just* Agender. I'd open a PR, but since I have moderate cis cluelessness on the topic figured I'd ask first.

[2018-09-23 18:54] drnikko commented on #51
Thanks for opening this @NickWilde1990.  I could see "Agender" being shortened and Genderless being another entry.  Happy to accept a PR on this. <3

[2018-09-23 18:55] drnikko commented on #49
Hi Henrik,

Thank you for this - Yes, I'd include a "decline to state".  Would be happy to accept a PR to add this specifically.

[2018-09-23 18:59] drnikko commented on #47
@hestenet thanks for this.  Thinking of the "standard" feed and a "local" feed, getting combined with something like an array merge  - I wonder if we supply our options and the consumer overwrites as needed?

[2018-09-23 19:04] drnikko commented on #46
This looks good to me, but there will need to be a way to allow folks to enter indigenous languages.
Thinking about this globally - there are thousands of languages and dialects that people speak that are part of their identity and which they may want to be counted.

[2018-10-03 22:36] sparklingrobots commented on #9
As we've been slowly chipping away at an implementation of OD on Drupal, this has come up a few times--folks feel unsure of how to answer the questions and have asked if we could link out to definitions or something like that.

The question then would be who maintains the definitions. Gender Wiki (http://gender.wikia.com/wiki/Gender_Wiki) comes to mind, but I have no idea who maintains those or if

[2018-10-03 22:51] emceeaich commented on #9
There is https://pronoun.is/ which has a repo at https://github.com/witch-house/pronoun.is and their pronoun lists are kept in a static file in the project. But there are no definitions.

I looked over https://nonbinary.miraheze.org/wiki/Nounself_pronouns and wonder if we could break down the problem into groupings of pronouns: zie, they, sie, ze, …, she, him and the nounself pronoun categories. T

[2018-10-04 03:30] emmairwin commented on #9
I just want to share, that we did not end up making this 'long list' our standard.
The primary reason was not education (although I expect we would have run into that more), but rather - even with this long list, we had people using the 'other'.   It was still a very important learning experience.

Our  current standard is  here:  https://github.com/mozilla/diversity/blob/master/data-metrics/surve

[2018-10-26 15:48] alexdmccabe opened #53 "Gender as one question or four questions"
https://github.com/drnikki/open-demographics/blob/master/doc-source/questions/gender.rst

I sent an email to @drnikki about the gender question(s):

Part of the reply:

It seems to me that having four separate fields that must all be presented as one group could be challenging in terms of data storage and form presentation (of course, that depends entirely on the framework/language implementing th

[2018-10-30 01:37] ktopham opened #54 "Difference between docs and docs-source?"
There are some differences between the questions listed in the docs files and the docs-source files. Are these differences intentional? Which should be used?

[2018-10-30 14:06] potiyev commented on #53
Hello Alex,
I agree with you by having an all or nothing approach but I want to raise another idea. I was wondering if it is even possible to construct an "if this, then this" statement that could lead the user in choosing the approriate set of questions? Instead of going all or nothing, they'd have a small choice.

_* :this part needs work on better wording._

Does that make sense?
Some reasoning

[2018-12-27 15:57] ccmaymay opened #58 ""gender variant" is misspelled"
Thanks for the very cool idea and awesome work!

The [second gender question](https://drnikki.github.io/open-demographics/questions/gender.html) misspells "gender variant" as "gender varient."  See for example [a Google search](https://www.google.com/search?q=gender+varient): when forcing "varient" rather than "variant," Open Demographics comes up as the second hit (at least for me) and more commo

[2019-02-19 16:09] #58 closed, assigned to nobody

[2019-03-04 23:03] alexdmccabe commented on #53
@potiyev I think I see what you're getting at, but I really remain uncertain.

The way we ended up implementing it in Drupal is that you can make all 4 questions required, or none of them required, if that helps.

[2019-03-04 23:05] drnikko commented on #53
I do think it's best to have all 4. However, I could see a case in which one simply wanted to present the user the last question with _all_ of the options rolled up there.

[2019-03-08 19:11] jywarren commented on #14
Thanks everyone for a great thread here. I'm wrapping up a big community survey where we are trying to better understand diversity and inclusion at Public Lab, and we used @emmairwin's wording [above](https://github.com/drnikki/open-demographics/issues/14#issuecomment-415533308).

We've collected some interesting data on how people identify their a) race/ethnicity and b) status as a minority in th

[2019-04-05 12:37] ncaidin opened #60 "Typo on categories_and_defintions.html title"
Looks like it should be spelled categories_and_definitions.html instead?

[2019-04-12 20:27] alexdmccabe opened #61 "Add descriptions / links to more info on gender identities"
Original comment from @webchick on drupal.org:

I thought this would be better as something handled upstream in OD, rather than in our Drupal module. This probably relates to the JSON work being done in #48.

[2019-06-23 00:58] nedjo opened #62 "Approaches to data that's not self-identified, or at least not self-registered?"
A lot of great work has gone into Open Demographics--thank you!

One context within which demographic data are frequently tracked is CRMs such as CiviCRM. Often in these systems, an individual is not entering data about themself but is being added by someone else--for example, a staffperson or volunteer responsible for membership or client engagement.

An example is the native Drupal CRM built on

[2019-09-02 23:23] jywarren commented on #14
Hi again - i went down a rabbit hole again on this topic, and found some interesting resources I wanted to share:

A PDF from the US census on the distinction: https://www.census.gov/mso/www/training/pdf/race-ethnicity-onepager.pdf

This is an interesting piece critiques the US census' current separation of an "are you Hispanic or Latino" question from a separate race question. https://www.salon.c

[2019-10-21 20:08] jywarren commented on #14
Just reporting back that we've published our software contributors survey results here including questions developed out of discussions in this thread!

https://publiclab.org/notes/liz/04-15-2019/report-2019-software-contributors-survey

[2019-10-21 20:38] jywarren commented on #21
This is really interesting and seems like it could go in many directions. Like, would the intent of the evaluation be to strengthen group identities, or to allow for the assertion of new ones or is the goal more to imagine how demographics could work in a more equitable world? Or a demographics that could be based more genuinely around how people identify themselves rather than identity as informe

[2019-10-22 19:27] patcon commented on #14
Thanks Jeff! Shared with my own community, and really appreciate the share-back -- we'd never have the resources to do the massive and thoughtful legwork you've all done :)

[2019-11-01 14:07] GeorgLink commented on #15
@drnikki, where did the SES classes come from?

We are working on [a survey for the Apache Software Foundation](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=127405614) and are using the open demographics questions where we can to standardize the questions (as recommended by the [CHAOSS D&I working group](https://github.com/chaoss/wg-diversity-inclusion)). However, we would like

[2019-11-04 15:47] jywarren commented on #14
:-) feel free to re-use the survey materials we've prepared! One of our
largest long-term goals is to participate in a more standardized set of
survey questions so it's easier to understand our own community in relation
to other communities.

On Tue, Oct 22, 2019 at 3:27 PM Patrick Connolly <notifications@github.com>
wrote:

[2019-11-18 18:46] drnikko commented on #62
One option is to have a field that indicates if the data was gathered by statement or by speculation.  So the person entering can say "I asked for this" or "I'm guessing about this".  Depending on the context, of course, you could convert that into something like a confidence interval - I'm VERY sure or I'm NOT sure at all.

[2019-11-18 20:11] patcon commented on #62
Wanted to second this. I know self-identity is ideal, but there might be room for exceptions.

For example, if an organization has a pool of potential guest-speakers, and in order to be more thoughtful about who's getting added to this list, there might be a best-effort attempt to informally surface demographics to help organizers understand their own biases. It might not make sense to expect each

[2019-12-09 17:20] GeorgLink opened #64 "Expand the Categories & Definitions page ?"
Hi @drnikki ,

In the [CHAOSS D&I WG](https://github.com/chaoss/wg-diversity-inclusion), we have been working from an internal [list of Definitions and Dimensions of Demographics](https://github.com/chaoss/wg-diversity-inclusion/tree/master/demographic-data).

Instead, we would like to refer to your project as the authoritative source that we use and not duplicate resources in the open source ecos

[2020-02-05 01:31] nedjo commented on #62
@drnikki @patcon thx for the tips and ideas!

[2020-02-06 05:44] martinheidegger commented on #28
As someone living in a country very different from my birth country it seems like can be split in two relevant parts:
1. residence, which is important in order to build communities: i.e. if we organize a conference it'd be good if people didn't need to travel that much.
2. comprehension, which in a way is very similar to language: What countries do you know from a legal/cultural perspective? A fic

[2020-08-03 17:01] brainwane commented on #14
To build on what @brihijoshi said, I think it would likely make sense to add *caste* as a dimension along which to collect information. I'd defer to [Equality Labs](https://www.equalitylabs.org/) on how to word that; see "Appendix VI: Survey Questions" [in their Caste in the United States survey](https://www.equalitylabs.org/castesurvey) for some examples.

[2020-08-19 16:13] germonprez opened #65 "Intent to Fork the Repo into CHAOSS"
Hi @drnikki

In today's (August 19, 2020) CHAOSS Diversity & Inclusion call we discussed how to help maintain the excellent work that is in this repository. Based on our discussion, we plan on forking the open-demographics repository into the CHAOSS organization. We are certainly not looking to create any problems or confusion. Please let us know if you have questions or concerns.

Again, thanks f

[2020-08-19 16:23] GeorgLink commented on #64
This issue is superseded by #65

[2020-08-19 16:41] drnikko commented on #65
Hi @germonprez!  Thanks for letting me know.  Open source repos are designed to be forked, though I'm not in love with the idea of your organization doing something like "taking it over" or "helping to maintain" via a forking process.  Is there a way that you can direct your efforts here if I give someone from your team admin capabilities?  I'm hesitant not because I don't need the help maintainin

[2020-08-19 16:52] germonprez commented on #65
Thanks for the response @drnikki

This is a great solution! This work has greatly informed the ways that think about metrics in the CHAOSS project and we'd love to help in any way that advances this important work and maintains the original intentions of the founders :)

[2020-08-19 16:59] GeorgLink commented on #65
Thanks @drnikki,

100% agree that it would be better to continue the efforts here.

I'd be happy to help with the maintenance and facilitate engagement here.

[2020-08-19 17:08] drnikko commented on #65
Ah, @germonprez, @GeorgLink - thank you for this quick and generous response!!   I'm happy to give each of you merge capabilities (or another if you let me know) so that we can work together on this.

I'm _really_ happy to have help thinking about all of this and working to make it better and more inclusive (especially with our huge gaps in all non-North American concerns) and CHAOSS has been doin

[2020-08-19 17:45] GeorgLink commented on #65
Awesome! It would be great to sync up and outline how we want to move this project forward. Maybe schedule a call?

[2020-08-19 21:04] germonprez commented on #65
That's a good idea (a call). I'd love to know your history and hopes for the project :)

[2020-08-20 13:11] drnikko commented on #65
Hi! A call sounds great - we can do scheduling details via email if its easier (nikkilstevens at gmail), but I'm in Eastern Time and the first week of September is currently pretty open.

[2020-08-20 14:46] GeorgLink commented on #65
+1

[2020-09-02 15:39] drnikko commented on #65
Going to close this issue since we've got @germonprez and @GeorgLink on as maintainers and a plan to clean up the repo and get things ready for hacktoberfest.

[2020-09-02 15:39] #65 closed, assigned to nobody

[2020-09-02 15:39] drnikko commented on #65
(close this issue with great thanks and excitement to have the CHAOSS team on board!)

[2020-09-02 19:58] GeorgLink opened #66 "Prepare for Hacktoberfest 2020"
We were discussing to possibly participate in [Hacktoberfest this year](https://hacktoberfest.digitalocean.com/details/).

This issue can be for coordinating the effort and keeping track of our progress.

- [ ] define good issues that are self-contained
- [ ] apply "Hacktoberfest" label
- [ ] make sure we have a good CONTRIBUTING.md
- [x] have a [Code of Conduct](https://github.com/drnikki/open-de

[2020-09-02 20:00] GeorgLink commented on #50
We can close this issue for now. Should we get a new logo, we can distribute it in the future.

[2020-09-02 20:00] #50 closed, assigned to nobody

[2020-09-02 20:15] GeorgLink commented on #54
Thanks @ktopham!

`/docs` seems to have more recent changes than `/doc-source`.

It seems that `/doc-source` is the raw text form and `/docs` is the compiled website and there should be no difference in the questions between the two.

@drnikki is that correct?

[2020-10-19 19:39] germonprez commented on #49
PR #67 created to address this issue.

[2020-10-19 21:25] #51 closed, assigned to nobody

[2020-10-19 21:50] GeorgLink commented on #49
closed with #67

[2020-10-19 21:50] #49 closed, assigned to nobody

[2021-05-03 18:37] nuritzi opened #68 "Change "Latino" to "Latinx" in racial demographics"
Hi everyone! I came across this project recently and think it's awesome! As I was looking through some of the questions, I noticed that the racial identity section references `Latino` instead of `Latinx` and wanted to propose a change.

Here's the page in question: http://nikkistevens.com/open-demographics/questions/race.html

Here is the [wikipedia page about the Latinx term](https://en.wikipedia

[2021-05-03 19:54] germonprez commented on #68
Hi @nuritzi :)

Thanks for bringing this up! I very much appreciate it. I'm not sure what others may think or how we may go about having a discussion here.

[2021-05-03 19:55] germonprez commented on #68
I could post this to the Open Source Diversity Signal channel.

[2021-05-04 01:08] GeorgLink commented on #68
Thanks @nuritzi and @germonprez!

[2021-05-26 15:44] ecbrown1 opened #69 "Role Diversity"
Just wanted to add role diversity as a possible metric to consider.

[2021-05-26 19:52] patcon commented on #69
I like the sounds of this! But also, realized I'm not totally sure what "role diversity" means to others. Can you share how you intended it?

[2021-06-01 22:55] ecbrown1 commented on #69
Absolutely. I intended to shed light on the actual role of the attendees in an organizational structure or hierarchy and the importance of their input. I hope this helps.

[2021-06-02 02:21] patcon commented on #69
ah ok, thanks for clarifying, Emily!

But also, with apologies if I seem dense... still unsure whether "diversity" is used in the equity sense, in reference to under-represented groups in roles? Or alternatively used in a purely org management or org structure sense, where having more roles of varying sorts is more "role diversity" than a smaller number of roles (e.g., https://www.jstor.org/stable

[2021-06-17 07:15] bradjones1 opened #71 "open-demographics.com is dead"
Looks like the domain expired.

[2021-06-17 10:59] germonprez commented on #71
That's too bad. I'm not sure who runs/pays for the webpage. @drnikki could you help out here?

[2021-06-17 23:16] drnikko commented on #71
HI!  It is indeed me - thanks for the reminder to renew the domain subscription.  open-demographics.com is configured in githubpages to redirect to nikkistevens.com/open-demographics.  Happy for it to be a custom gh-pages site, I just didn't want to fuss with hosting in a rush on my last work day of the week. :)

[2021-06-18 14:59] GeorgLink commented on #71
Thanks for fixing the domain issue so quickly!

[2021-06-18 14:59] #71 closed, assigned to nobody

[2021-06-20 18:20] bradjones1 opened #72 "Clarify licensing for sexual and romantic identities"
[This page](https://github.com/drnikki/open-demographics/blob/master/doc-source/questions/sexualorientation.rst) says these identity taxonomies are "taken from" a book, but there's no specific information about this data being licensed compatible with the creative commons license applied to the broader dataset. Can this be clarified? This list isn't particularly revolutionary, but it would be nice

[2021-06-21 13:18] germonprez commented on #72
Thanks @bradjones1. I'm not sure where these were sourced from. Your point is well taken to provide proper attribution.

[2021-06-21 15:20] GeorgLink commented on #72
The page does provide attribution to the book where the list comes from. Is there a "license" required beyond attribution?

[2021-06-21 15:32] bradjones1 commented on #72
Definitely. The book is copyrighted work and providing attribution doesn't change anything about whether it's licensed for use in other works. Everything we write is copyrighted, but licensing is what makes the re-use and rework possible. For context, see https://creativecommons.org/share-your-work/licensing-considerations/compatible-licenses/ and similar. Not trying to make a mountain out of a mo

[2021-06-23 15:58] GeorgLink commented on #72
In academia it's common practice to reference other works without the need to obtain a license, so long as we don't re-print substantial parts of an original works.

Here in question is a list of identities. This can be found in other places. I believe that pointing to a book that did a great job of describing the identities is sufficient.

Maybe we can do a better job of referencing the book with

[2021-07-21 21:27] lee0c opened #73 "Recommendation: Rename master branch to main"
As part of larger efforts to remove harmful terminology from tech's day-to-day, the default branch name in new GitHub repositories is now `main` and this change is echoed in many repositories at many levels of use and visibility. Recommend aligning with this change.

[Guidance on changing default branch name](https://github.com/github/renaming)

[More on the reasoning for this change](https://www.

[2021-07-21 23:25] lee0c opened #74 "Recommendation: Create a top-level file CONTRIBUTING.md with information on how to get started"
While some of this is addressed by the [Get Involved](http://nikkistevens.com/open-demographics/get_involved.html) page on the site, newcomers to the repository have to dig to find either [docs-source/get_involved.rst](https://github.com/drnikki/open-demographics/blob/master/doc-source/get_involved.rst) or one of [docs/get_involved.html](https://github.com/drnikki/open-demographics/blob/master/doc

[2021-07-22 10:50] germonprez commented on #73
+1 @lee0c - @drnikki could you make this change as org owner? Thanks so much for this.

[2021-07-22 10:53] germonprez commented on #74
Hi again @lee0c :)

Yes, I think that the inclusion of such a file would be great. It is much appreciated if you'd like to start this. I'm really happy to help as needed. Thank you!!

[2021-07-23 19:10] lee0c commented on #74
@germonprez I would be happy to! Can I ask you or another contributor a few more questions to get going on this?

- [ ] Confirmation on the distinction between docs and docs source - is [this issue response](https://github.com/drnikki/open-demographics/issues/54#issuecomment-685972324) accurate?
- [ ] Is there a specific process for building? I've tested out
[code]
    and found that there are two

[2021-07-26 11:56] germonprez commented on #74
Thanks @lee0c!

I'm afraid that I can't answer all of these questions definitively but perhaps @drnikki can help out here :)

I really do appreciate these questions.

[2021-07-26 14:56] drnikko opened #75 "Restructure docs/doc-source"
**problem**: the structure of the repo is confusing, setting up local environments is time-consuming (and thus a barrier to participation).

**details**:  This repo was initially built for developers to pull in programatically into their projects, and so we needed a way to have the "raw" text of the questions and answers and also a pleasant, human-readable website version for people who aren't com

[2021-07-26 14:57] drnikko commented on #74
Hi @lee0c!  Thanks so much for this good recommendation and for opening such an actionable issue.

Your linking to the open issue is the correct information (#54). I wish I could go back in time and ask 2018 me what the heck I was thinking setting it up this way, but here we are.  I think, in general, we're due for a restructure that moves us away from a complicated build process and a separation

[2021-07-26 15:02] drnikko commented on #73
Note here with the steps to update everyone's local clone:
[code]

I just made a trivial commit to main (f3c1768) to get github pages to republish.

[2021-07-26 15:57] drnikko commented on #73
I waited a bit and it seems like everything is up, so I'm going to close this.  Please reopen if something goes wrong.

And thanks for opening it in the first place!!  This is a super good and important change!

[2021-07-26 15:57] #73 closed, assigned to drnikko

[2021-07-26 22:37] lee0c commented on #75
For the current layout, a simple directory naming change may make all the difference. Something like `src`/`source` and `site`/`website`/`gh-pages` (if it's hosted in github pages, idk) - indicates that one folder is unambiguously the source of the info, and the other is primarily files for the website.

I've seen there's some other issues proposing a machine-readable format like json, which would

[2022-01-07 10:35] rachellawson opened #78 "Women in Identity embarking on an "ID Code of Conduct" effort"
I've been alerted to the fact that [Women in Identity](https://www.womeninidentity.org/cpages/home) are  embarking on an "ID Code of Conduct" effort - there might be a lot of experience you can share with each other?

Check out https://www.womeninidentity.org/articles/building-a-code-of-conduct-for-greater-inclusion-in-identity-and-financial-systems

[2022-01-07 17:54] drnikko commented on #78
Thanks @rachellawson!  Do you know anyone there who would be good to reach out to?

[2022-01-07 18:08] rachellawson commented on #78
A colleague at The Digital Impact Alliance at the UN Foundation alerted us to the blog post at https://medium.com/caribou-digital/the-human-impact-of-identity-exclusion-in-financial-services-ce1e0d769389 which we find super interesting.

It will certainly be relevant to our work at https://GovStack.global

Not got any names but asking...

[2022-01-10 16:24] rachellawson commented on #78
No names yet but I've also been pointed towards https://id4d.worldbank.org/principles -- good reading material, if nothing else

[2022-01-11 19:31] GeorgLink commented on #78
Thanks for sharing and suggesting a connection. This is super interesting and not something that was on my radar.

[2022-03-19 22:52] patcon commented on #68
Just wanted to point out the controversy in some circles around "latinx", which some people apparently feel as erasure of previous identity. I'm not saying I agree, but wanted to note this for folks to consider, esp those outside the community who might miss the nuance. Details in the wikipedia article: https://en.wikipedia.org/wiki/Latinx#Reception